@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fasthand&display=swap');

.heading {
        font-family:'Dancing Script', Arial, sans-serif;
        font-size: 20px;
        color: #FBFFDC;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
    
      
}


.App {
    background-image: url("./bigbg.avif");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    
}

.quote {
    background: url("./bg.jpg");
    background-size: cover;
    width: 300px;
    height: 250px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote h2 {
    color: #0B2447;
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
}

.quote small {
    color: white;
    font-size: 1.5em;
    font-family: 'Fasthand', cursive;
}


    


/* CSS */
.button-7 {
  background-color: #0095ff;
  border: 1.5px solid black;
  border-radius: 15px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: cursive;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
  background-color: #07c;
}

.footer {
    padding: 20px;
    text-align: center;
  }
  
  .footer-text {
    font-size: 14px;
    color: #FBFFDC;
  }
  
  .footer-text h2 {
    letter-spacing: 3px;
    font-family: 'Courier New', Courier, monospace;
    color: #FBFFDC; 
}
  